$someColor: #3594B1
$white: #fff
$black: #000
$nm-blue: #002b49
$upload-label-color: $white
$upload-label-bg: #00978C
$upload-label-bg-hover: #722040
$bg-grey: #4A4A4A


body
    margin-top: 75px

h1
    color: $white
    line-height: 75px
    margin: 0

.heading
    width: 100%
    margin: auto
    text-align: center
    height: 75px
    background-color: $nm-blue

#loading-overlay
    position: absolute
    top: 0
    height: 100%
    width: 100%
    background-color: $black
    opacity: 0.45

#loading
    width: 100%


form
    width: 50%
    margin: auto
    text-align: center

.inputfile
    width: 0.1px
    height: 0.1px
    opacity: 0
    overflow: hidden
    position: absolute
    z-index: -1

.inputfile + label
    max-width: 80%
    font-size: 1.25rem
    font-weight: 700
    text-overflow: ellipsis
    white-space: nowrap
    cursor: pointer
    overflow: hidden
    padding: 0.625rem 1.25rem
    display: inline-block
    color: $upload-label-color
    background-color: $upload-label-bg
    position: absolute
    bottom: 0px
    margin: auto
    margin-left: -30px
    height: 65px
    width: 60px
    border-radius: 5px 5px 0 0

.inputfile:focus + label, .inputfile + label:hover
    background-color: $upload-label-bg-hover

#plus-sign
    background: $white
    width: 2px
    height: 36px
    position: fixed
    bottom: 15px
    border-radius: 2px

#plus-sign:before
    background: $white
    content: ""
    width: 36px
    height: 2px
    position: absolute
    top: 17px
    left: -17px
    margin-left: -1px
    border-radius: 2px

.footer
    position: fixed
    height: 60px
    width: 100%
    background-color: $bg-grey
    bottom: 0px
    z-index: -1
