* {
  font-family: "Open Sans", sans-serif; }

body {
  margin-top: 75px; }

h1 {
  color: #fff;
  line-height: 75px;
  margin: 0;
  font-weight: 100; }

.heading {
  width: 100%;
  margin: auto;
  text-align: center;
  height: 75px;
  background-color: #002b49; }

#loading-overlay {
  z-index: 2000;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  transition: all 300ms;
  opacity: 0; }

form {
  width: 50%;
  margin: auto;
  text-align: center; }

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1; }

span.middle {
  z-index: 3000;
  max-width: 80%;
  font-size: 1.25rem;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;
  display: inline-block;
  color: #fff;
  background-color: #00978C;
  position: fixed;
  bottom: 0px;
  left: 50%;
  margin: auto;
  margin-left: -30px;
  height: 65px;
  width: 60px;
  border-radius: 5px 5px 0 0; }

.happy {
  z-index: 3000;
  max-width: 80%;
  font-size: 1.25rem;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  color: #fff;
  background-color: #fff;
  position: fixed;
  bottom: 55px;
  border: 1px solid #C5C5C5;
  margin: auto;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  opacity: 0;
  transition: transform 300ms;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.26), 0 4px 10px 0 rgba(0, 0, 0, 0.22); }

.center {
  left: 50%;
  margin-left: -35px; }

.right {
  margin: 0;
  right: 10%;
  bottom: 20px; }

.left {
  margin: 0;
  left: 10%;
  bottom: 20px; }

.happy.anim {
  opacity: 1;
  transform: translateY(-70px); }

#loading-overlay.anim {
  opacity: 0.45; }

span.middle > svg {
  height: 60px;
  width: 60px; }

.footer {
  position: fixed;
  height: 60px;
  width: 100%;
  background-color: #4A4A4A;
  bottom: 0px;
  z-index: -1;
  display: flex;
  justify-content: space-around; }

.tab {
  text-align: center;
  padding-top: 6px;
  color: #fff; }

.first {
  margin-right: 60px; }

#logo {
  display: flex;
  justify-content: center;
  margin-top: 120px; }

#logo img {
  height: 200px; }

.happy.center svg {
  pointer-events: none;
  height: 66px;
  width: 42px; }

.happy.center svg path {
  fill: #00978C; }

label div {
  color: #4A4A4A;
  margin-top: 5px; }
