body {
  margin-top: 75px; }

h1 {
  color: #fff;
  line-height: 75px;
  margin: 0; }

.heading {
  width: 100%;
  margin: auto;
  text-align: center;
  height: 75px;
  background-color: #002b49; }

#loading-overlay {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.45; }

#loading {
  width: 100%; }

form {
  width: 50%;
  margin: auto;
  text-align: center; }

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1; }

.inputfile + label {
  max-width: 80%;
  font-size: 1.25rem;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;
  padding: 0.625rem 1.25rem;
  display: inline-block;
  color: #fff;
  background-color: #00978C;
  position: absolute;
  bottom: 0px;
  margin: auto;
  margin-left: -30px;
  height: 65px;
  width: 60px;
  border-radius: 5px 5px 0 0; }

.inputfile:focus + label, .inputfile + label:hover {
  background-color: #722040; }

#plus-sign {
  background: #fff;
  width: 2px;
  height: 36px;
  position: fixed;
  bottom: 15px;
  border-radius: 2px; }

#plus-sign:before {
  background: #fff;
  content: "";
  width: 36px;
  height: 2px;
  position: absolute;
  top: 17px;
  left: -17px;
  margin-left: -1px;
  border-radius: 2px; }

.footer {
  position: fixed;
  height: 60px;
  width: 100%;
  background-color: #4A4A4A;
  bottom: 0px;
  z-index: -1; }
